* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* make sure styles are dynamic */
/* 1+ media query breakpoint */
/* make sure your styles are dynamic
add media queries for different screen sizes (one breakpoint) */

#div-comments {
  display: flex;
  flex-direction: column;
  align-items: center;
}
